version: 2
updates:
  - package-ecosystem: 'npm'
    directory: '/'
    schedule:
      interval: 'weekly'
    open-pull-requests-limit: 10
    # Allow minor/patch updates automatically
    allow:
      - dependency-type: 'direct'
      - dependency-type: 'indirect'
